/* Test to make sure CSS is working correctly */

body {
}

main {
  align-items: center;
  justify-content: center;
}

.bg {
  position: fixed;
  inset: 0;
  z-index: -2;
  overflow: hidden;
}

.bgVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 
  filter: brightness(0.85) saturate(1.1); */

  opacity: 0;
  transition: opacity 600ms ease;
}

.bgVideo.is-active {
  opacity: 1;
}

.app {
  position: relative;
  z-index: 0;

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-wrap: wrap;
}

.weather-data {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.glass {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  z-index: 100;
}
